.success-popup {
    visibility: hidden; /* Start with hidden */
    min-width: 150px;
    background-color: #28a745; /* Success green color */
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    top: 10px; /* Start closer to the trigger point */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, top 0.3s, visibility 0.3s ease-in-out;
    font-size: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.success-popup.show {
    visibility: visible; /* Show the pop-up */
    opacity: 1;
    top: -10px; /* Move the pop-up just slightly above the trigger */
}