.disk-style li {
    padding: 3px; 
    font-weight: bold;
}  
.close-button {
    position: absolute;
    top: 10px; 
    right: 10px; 
}
.textSize{
    font-size: 14px;
    
}
.Margn{
        font-weight: 4px;
        margin-left: 10px;
    
}