.red-banner-alert {
    background-color: white;
    color: #ff0000;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Salesforce Sans", Arial, sans-serif;
}

.error-banner-alert {
    background-color:white;
    color: #ff0000;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Salesforce Sans", Arial, sans-serif;
}

.alert-content {
    padding: 2px 2px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    margin: 0;
}