.scrollable-table {
    overflow-x: auto;
    max-width: 100%;
}
.draggable-header-bar {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 8px;
}
.draggable {
    min-width: 125px;
    max-width: 220px;
    white-space: nowrap;
}