.THIS .hide_tab{
    display:none !important;
    
} 

.THIS .header{ 
    font-size: large;
}

.THIS .companyLogoCss{
    width: 100%;
    height:100%; 
    margin-bottom: 12px;
}

.THIS .companyLogoCss1{
    width: 100%;
    height:100%; 
    margin-bottom: 6px;
}

.THIS .mandatoryFieldInfo{
    
    color: red; 
    font-size: 1.1em;
    font-weight: bold; 
    text-align: right;
}

.THIS .required{
    
    color: red;
    font-size: large;
    font-weight: bold;
    text-align: left;
    vertical-align:Top
}

.THIS .message{
    
    color: red;
    text-align: left;
    border: none;
    background:none;
}

.THIS .maindiv{ 
    width: 100%;
    height:500px; 
    overflow:hidden;
}

.THIS .maindiv,.THIS .backbuttondiv{
    vertical-align: top;
    padding: 10px;
    height: 500px;
    width: 20%;
    display: inline-block;
}

.THIS .left{ 
    margin-top: 335px;
}

.THIS .maindiv {
    vertical-align: top;
    height: 60%;
    width: 60%;
    display: inline-block;
    padding: 10px;
    margin-top: 50px;
    border: 1px solid #042A14;
    box-shadow: 10px 10px 5px grey;
    background-color: white ;
    overflow:hidden;
    overflow-y: scroll;
    position:absolute;
}

.THIS .formdiv {
    vertical-align: top;
    /* height: 1500px;  */
    width: 60%;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #042A14;
    box-shadow: 10px 10px 5px grey;
    background-color: white ;
    overflow:hidden;
    /*  overflow-y: scroll; */
}


.THIS .maindiv,.THIS .nextbuttondiv { 
    vertical-align: top;
    padding: 10px;
    margin-top: 335px;
    height: 500px;
    width: 20%;
    display: inline-block;
}
.THIS .select-auto-width > .slds-form-element__control > .slds-select_container{
    display: inline-block;
}

.THIS .errorBorder {
    border: 1.5px solid red;
    
}
.THIS .slds-dueling-list__options {
    height: 8rem;
}