.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensures elements stack vertically */
    height: 100%;
    margin: auto;
}

.content-container {
    width: 100%;
    /* max-width: 800px; Optional: Limit the width of the component */
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datatable-wrapper {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.datatable-wrapper lightning-datatable {
    margin: 0;
    padding: 0;
    width: 100%;
}

.scroll-container {
    overflow-x: auto;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

lightning-modal-footer {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.message-container {
    text-align: center;
    margin: 1rem 0;
}

.delete-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem; 
    margin-bottom: 2rem;
}

/* .card {
    --border-radius: 0.75rem;
    --primary-color: #7257fa;
    --secondary-color: #3c3852;
    width: auto;
    font-family: "Arial";
    padding: 1rem;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
  }
  
  .card > * + * {
    margin-top: 1.1em;
  }
  
  .card .card__content {
    color: var(--secondary-color);
    font-size: 0.86rem;
  }
  
  .card .card__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  

  .card:hover .card__title {
    color: var(--primary-color);
  }
   */

   .card {
    background-color: #f2f3f7;
    border-radius: 0.75em;
    transition: ease 0.2s;
    box-shadow: 1em 1em 1em #d8dae0b1, -0.75em -0.75em 1em #ffffff;
    border: 1.5px solid #f2f3f7;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .container {
    margin-top: 1.25em;
    margin-bottom: 1.375em;
    margin-left: 1.375em;
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    gap: 0.75em;
  }
  
  .status-ind {
    width: 0.625em;
    height: 0.625em;
    background-color: #ff0000;
    margin: 0.375em 0;
    border-radius: 0.5em;
  }
  
  .text-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    color: #333;
  }
    
  .right {
    display: flex;
    flex-direction: column;
    gap: 0.875em;
  }
  .text-content{
    font-size: medium;
  }
  .hideFirstColTable table th:first-child, .hideFirstColTable table td:first-child{
    display: none !important;
}
.lightning-datatable .slds-table thead tr th:first-child,
.lightning-datatable .slds-table tbody tr td:first-child {
    display: none; /* Hides the first column (Standard Serial Number) */
}